$brown-main: #5A3E2B;
$brown-light: #8B5E3C;
$brown-dark: #3B2A1D;

$beige-main: #F5F1EC;
$beige-light: #EAE3DB;
$beige-dark: #D8C7B8;

$main-btn: #C89B6D;
$hover-btn: #B07A4F;

$txt1: #1A1A1A;
$txt2: #6B6B6B;

$gold: #E6B86A;
