$white: #F5F1EC;

$gray-light: #EAE3DB;
$gray: #D8C7B8;
$gray-dark: #6B6B6B;

$beige-light: #C89B6D;
$beige-dark: #B07A4F;

$gold: #E6B86A;

$brown-light: #8B5E3C;
$brown: #5A3E2B;
$brown-dark: #3B2A1D;

$black: #1A1A1A;



